image:
  repository: sample-app #my-image-repo/
  tag: "0.1.1"
service:
  port: 8080
ingress:
  enabled: true 
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: test.local
      paths:
        - path: /
          pathType: Prefix
livenessProbe:
  httpGet:
    path: "/live"
    port: 8080
readinessProbe:
  httpGet:
    path: "/ready"
    port: 8080
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi